---
import ListItem from '../components/ListItem.astro';
import Layout from '../layouts/Layout.astro';
import { getAllBlogs } from '../lib/blog';
import { BLOG_NAME } from '../consts/message';
import { SEO } from 'astro-seo';
const blogs = await getAllBlogs();
---

<Layout title={BLOG_NAME}>
	<SEO
    title="くみちょうのブログ"
    description=""
    openGraph={{
      basic: {
        title: "くみちょうのブログ",
        type: "any",
        image: "../../public/icon.jpg"
      }
    }}
    twitter={{
      creator: "@hansyamodesu"
    }}
    extend={{
      link: [{ rel: "icon", href: "/public/favicon.svg" }],
      meta: [
        {
          name: "twitter: image",
          content: "/public/icon.jpg"
        },
        { name: "twitter:title", content: "くみちょうのブログ" },
        { name: "twitter:description", content: "student" }
      ]
    }}
    }
  />
	<main>
		{
			blogs.map((blog) => {
				return <ListItem blog={blog} />
			})
		}
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
</style>
